{% extends 'layout.html.twig' %}

{% block main %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem dolor ex ipsum magnam nobis omnis praesentium quaerat, reprehenderit, repudiandae sed unde veritatis! Dolores doloribus eum illo nihil omnis voluptates!</p>
{% endblock %}

{% block title %}About us | {{ parent() }}{% endblock %}